@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Oswald&display=swap');

$orange:        #E65C43;
$grey:          #666;
$white:         #FFF;
$darkgrey:      #30353D;
$greybarcolor:  #F5F6F6;
$font-body:     'Hepta Slab';


$spacing-unit: 94px;
$backgroundImage:   url('../images/bg.gif');
$logoImage:         url('../images/logo.png');
$socialMediaImage:  url('../images/social-media.png');